cuda_build
cuda_build/**
cuda_build-*/
examples/cache
examples/cache/**
examples/training
examples/training/**
.vscode
serialized_module.cudas
/vendor/
optdigits.csv
trained_model_stable.dat